@media (max-width: 1300px) {
	.container {
  		width: 90%;
	}
}
@media (max-width: 1110px) {
	html, body {
		font-size: 14px;
	}
}
@media (max-width: 950px) {
	.container {
  		width: 90%;
  		margin: auto;
  		padding: 70px 0;
	}
	.projectList {
		width: 90%;
		margin: auto;
	}
	#contact .container {
		padding: 70px 0 30px 0;
	}
	.list {
		width: 47%;
}
@media (max-width: 850px) {
	.role h3 {
		font-size: 1.7rem;
	}
	.skillsList {
		width: 90%;
		margin: auto;
		justify-content: space-between;
		padding: 0;
		margin-bottom: 30px;
	}
}
@media (max-width: 645px) {
	html, body {
		font-size: 13px;
	}
	.skillsList, .projectList {
		width: 95%;
	}
}
@media (max-width: 565px) {
	html, body {
		font-size: 12px;
	}
}
@media (max-width: 500px) {
	#main {
		background-position: bottom center;
		background-size: contain;
	}
	.name h1 {
		font-size: 5rem;
		font-weight: 700;

		/*background: -webkit-linear-gradient(#eee, #333);*/
		/*-webkit-background-clip: text;*/
		/*-webkit-text-fill-color: transparent;*/
	}
	.role h3 {
		font-size: 2.7rem;
	}
	.skillsList {
		flex-direction: column;
		justify-content: space-around;
	  	padding: 0 50px;
	  	margin-bottom: 30px;
	}
	.service {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin-bottom: 1rem;
	}
	.circle {
		width: 80px;
		height: 80px;
		margin-right: 30px;
	}
	.icon {
		font-size: 3rem;
		margin: 20px 0;
	}
	.projectList {
		/*width: 80%;*/
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.projectDes {
		display: none;
	}
	.list {
		width: 48%;
		border: 1px solid #bdbdbd;
		font-family: 'Source Serif Pro', serif;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 20px;

		-webkit-box-shadow: 2px 2px 2px 0px rgba(222,222,222,1);
		-moz-box-shadow: 2px 2px 2px 0px rgba(222,222,222,1);
		box-shadow: 2px 2px 2px 0px rgba(222,222,222,1);
	}
	.list:hover {
		border: 2px solid black;
	}
	.list:hover .projectImg {
		display: none;
	}
	.list:hover  .projectDes {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.list:hover .projectName {
		font-weight: 700;
		margin-top: 1.5rem;
	}
	.list:hover .skills {
		display: flex;
		flex-wrap: wrap;
	}
	.list:hover .skills p {
		margin-bottom: 5px;
	}
}

@media (max-width:425px) {
	.skillsList {
		padding: 0 20px;
	}
}